*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #e7bb41;
    transition: .3s ease all;
}

body.dark{
    background: black;
}

.container{
    display: flex;
    justify-content: center;
}

.contador{
    border: 2.5px solid #393e41;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e5df;
}

.secundario{
    margin-left: 150px;
}

body.dark .contador{
    background: #393e41;
}

body.dark .title{
    color: #e7e5df;
}

body.dark .count{
    color: #e7e5df;
}

.increase:hover{
    background-color: #44bba4;
}

.decrease:hover{
    background-color: #ec7d10;
}

.reset:hover{
    background-color: #fc2f00;
}

.btn, .count, .switch{
    margin-top: 20px;
}

.count{
    font-size: 20vh;
}

body.dark .btn{
    background: #e7e5df;
}

body.dark .increase:hover{
    background-color: #44bba4;
}

body.dark .decrease:hover{
    background-color: #ec7d10;
}

body.dark .reset:hover{
    background-color: #fc2f00;
}

body.dark .newCounter:hover{
    background-color: #e7bb41;
}

.switch{
    background: #393e41;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #e7e5df;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active{
    background: #ec7d10;
    color: black;
}

.switch.active::after{
    right: 0;
    left: unset;
}

span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #e7e5df;
}

@media (max-width: 969px){
    .secundario{
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contador{
        margin-top: 50px;
        width: 250px;
    }
}

@media (max-width: 400px){
    .btn-container{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .count{
        font-size: 40px;
    }
}